<div class="model_bg" onclick="del()"></div>
<div class="model">
    <p onclick="del()"></p>
    <div>
        <div class="model_del" onclick="del()">
            <span></span>
            <span></span>
        </div>
        <h3>屏幕放置了30秒</h3>
        <div class="model_con">
            <div class="model_img">
                <a href="{$ads[7][0]['plug_ad_url']}">
                    <img src="{$ads[7][0]['plug_ad_pic']}" alt="">
                </a>
            </div>
            <div class="model_txt">
                <ul>
                    <li>
                        <a href="{$ads[7][1]['plug_ad_url']}">{$ads[7][1]['plug_ad_name']}</a>
                    </li>
                    <li>
                        <a href="{$ads[7][2]['plug_ad_url']}">{$ads[7][2]['plug_ad_name']}</a>
                    </li>
                    <li>
                        <a href="{$ads[7][3]['plug_ad_url']}">{$ads[7][3]['plug_ad_name']}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="model_con">
            <div class="model_img">
                <a href="{$ads[7][4]['plug_ad_url']}">
                    <img src="{$ads[7][4]['plug_ad_pic']}" alt="">
                </a>
            </div>
            <div class="model_img">
                <a href="{$ads[7][5]['plug_ad_url']}">
                    <img src="{$ads[7][5]['plug_ad_pic']}" alt="">
                </a>
            </div>
        </div>
    </div>
    <p onclick="del()"></p>
</div>