<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>新闻资讯 - 首页</title>
    <link rel="stylesheet" href="{$ym_theme_path}/css/common.css">
    <link rel="stylesheet" href="{$ym_theme_path}/css/style.css">
    <link rel="stylesheet" href="{$ym_theme_path}/css/response.css">
    <script src="{$ym_theme_path}/js/jquery-3.3.1.min.js"></script>
    <script src="{$ym_theme_path}/js/common.js"></script>

</head>
<body>
<!--******************************************header start***************************************************-->
    <header>
        <div class="header_top">

            <div class="header_topNav clearfix">
                <div class="logo">
                    <h1><a href="#"><img src="{$ym_theme_path}/image/logo.png"></a></h1>
                </div>
                <!--pc端导航-->
                <ul class="clearfix firstNav">
                    <li><a href="#">新浪新闻</a></li>
                    <li><a href="#">新闻</a></li>
                    <li><a href="#">体育</a></li>
                    <li><a href="#">财经</a></li>
                    <li><a href="#">娱乐</a></li>
                    <li><a href="#">科技</a></li>
                    <li><a href="#">博客</a></li>
                    <li><a href="#">图片</a></li>
                    <li><a href="#">专栏</a></li>
                    <li class="lastClass">
                        <a class="more" href="#">更多<i class="iconfont icon-xiala"></i></a>
                        <ul class="clearfix downClass">
                            <li>
                                <a href="#">汽车</a>
                                <a href="#">教育</a>
                                <a href="#">时尚</a>
                                <a href="#">女性</a>
                                <a href="#">星座</a>
                                <a href="#">健康</a>
                            </li>
                            <li>
                                <a href="#">育儿</a>
                                <a href="#">读书</a>
                                <a href="#">房产</a>
                                <a href="#">历史</a>
                                <a href="#">视频</a>
                                <a href="#">收藏</a>
                            </li>
                            <li>
                                <a href="#">佛学</a>
                                <a href="#">游戏</a>
                                <a href="#">旅游</a>
                                <a href="#">邮箱</a>
                                <a href="#">导航</a>
                            </li>

                        </ul>
                    </li>
                </ul>
                <!--移动端导航-->
                <div class="slideDown">
                    <i class="iconfont icon-daohang"></i>
                </div>

                <div class="mobileNav">
                    <ul class="clearfix">
                        <li><a href="#">新闻</a></li>
                        <li><a href="#">体育</a></li>
                        <li><a href="#">财经</a></li>
                        <li><a href="#">娱乐</a></li>
                        <li><a href="#">科技</a></li>
                        <li><a href="#">博客</a></li>
                        <li><a href="#">图片</a></li>
                        <li><a href="#">专栏</a></li>
                        <li><a href="#">汽车</a></li>
                        <li><a href="#">教育</a></li>
                        <li><a href="#">时尚</a></li>
                        <li><a href="#">女性</a></li>
                        <li><a href="#">星座</a></li>
                        <li><a href="#">健康</a></li>
                        <li><a href="#">房产</a></li>
                        <li><a href="#">历史</a></li>
                        <li><a href="#">视频</a></li>
                        <li><a href="#">收藏</a></li>
                        <li><a href="#">育儿</a></li>
                        <li><a href="#">读书</a></li>
                        <li><a href="#">佛学</a></li>
                        <li><a href="#">游戏</a></li>
                        <li><a href="#">旅游</a></li>
                        <li><a href="#">邮箱</a></li>
                        <li><a href="#">导航</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header_middle clearfix">
            <div class="logo">
                <h1><a href="#"><img src="{$ym_theme_path}/image/logo.png"></a></h1>
            </div>
            <div class="header_middleRight">
                <form class="clearfix formSelect">
                    <div class="select_box"  id="select">
                        <div class="select" >
                            <div class="showText">新闻</div>
                            <i class="iconfont icon-xiala"></i>
                        </div>
                        <div class="select_down">
                            <p>新闻</p>
                            <p>图片</p>
                            <p>博客</p>
                            <p>视频</p>
                        </div>
                    </div>
                    <div class="form_input">
                        <input type="text">
                    </div>
                    <div class="form_search">
                        <i class="iconfont icon-sousuo"></i>
                    </div>

                </form>
            </div>
        </div>
        <div class="header_bottom">
            <div class="nav">
                <ul class="clearfix">
                    <ul class="clearfix">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">国内</a></li>
                        <li><a href="#">国际</a></li>
                        <li><a href="#">社会</a></li>
                        <li><a href="#">军事</a></li>
                        <li><a href="#">文化</a></li>
                        <li><a href="#">政务</a></li>
                        <li><a href="#">黑猫投诉</a></li>
                        <li><a href="#">视频</a></li>
                        <li><a href="#">图片</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </header>

<!--******************************************header end**************************************************-->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--******************************************footer start**************************************************-->
<footer>
    <!--合作媒体 start-->
    <div class="cooperation">
        <h2>合作媒体</h2>
        <div class="mediaBox">
            <a href="#">中国政府网</a>|<a href="#">中国网</a>|<a href="#">人民网</a>|<a href="#">新华网</a>|<a href="#">中新网</a>|<a href="#">央视网</a>|<a href="#">中广网</a>|<a href="#">中国日网</a>|<a href="#">中客在线</a>|<a href="#">光明网</a>|<a href="#">解放军报</a>|<a href="#">法制日报</a>|<a href="#">中国政府网</a>|<a href="#">中国网</a>|<a href="#">人民网</a>|<a href="#">新华网</a>|<a href="#">中新网</a>|<a href="#">央视网</a>|<a href="#">中广网</a>|<a href="#">中国日网</a>|<a href="#">中客在线</a>|<a href="#">光明网</a>|<a href="#">解放军报</a>|<a href="#">法制日报</a>|<a href="#">中国政府网</a>|<a href="#">中国网</a>|<a href="#">人民网</a>|<a href="#">新华网</a>|<a href="#">中新网</a>|<a href="#">央视网</a>|<a href="#">中广网</a>|<a href="#">中国日网</a>|<a href="#">中客在线</a>|<a href="#">光明网</a>|<a href="#">解放军报</a>|<a href="#">法制日报</a>|<a href="#">中国政府网</a>|<a href="#">中国网</a>|<a href="#">人民网</a>|<a href="#">新华网</a>|<a href="#">中新网</a>|<a href="#">央视网</a>|<a href="#">中广网</a>|<a href="#">中国日网</a>|<a href="#">中客在线</a>|<a href="#">光明网</a>|<a href="#">解放军报</a>|<a href="#">法制日报</a>|
        </div>
    </div>
    <!--合作媒体 end-->

    <!--版权所有 start-->
    <div class="copyRight">
        <p>24小时客服热线：4006900000 010-626623378 常见问题解答 互联网违法和不良信息举报</p>
        <p>违法和不良信息举报电话：010-626623378 举报邮箱：jubao@vip.sina.com</p>
        <p>新闻中心意见反馈留言板</p>
        <p><a href="#">新浪简介</a>|<a href="#">About Sina</a>|<a href="#">广告服务</a>|<a href="#">联系我们</a>|<a href="#">招聘信息</a>|<a href="#">网站律师</a>|<a href="#">SINA English</a>|<a href="#">通行证注册</a>|<a href="#">产品答疑</a></p>
        <p>Copyright © 1996-2015 SINA Corporation. All Rights Reserved </p>
        <p>新浪公司 版权所有</p>
    </div>
    <!--版权所有 end-->
</footer>
<!--******************************************footer end**************************************************-->
</body>


</html>